service: task-list-frontend
frameworkVersion: ">=1.30.0"
plugins:
  - serverless-dotenv-plugin
custom:
  accountid: ${env:AWS_ACCOUNT_ID}
  cloud: ${env:TARGET_CLOUD}
  region: ${env:TARGET_REGION}
  appsBucket: ${env:TASK_LIST_APPS_BUCKET}
  dotenv:
    path: ../.env

provider:
  name: aws
  region: ${env:TARGET_REGION}
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  lambdaHashingVersion: 20201221 # optional, version of hashing algorithm that should be used by the framework

resources:
  - ${file(./task-list-apps-bucket.yml)}

